/* =============================

       reset.cssここから
   （消さずに書き進めてください！）

=============================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic Styles */
body, li, ul, p {
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    border-style: none;
}

ul, li {
    list-style: none;
}

/* =============================

        reset.cssここまで

=============================== */

/*========= 紙芝居風レイアウトのためのCSS ===============*/

section.box{
  position: -webkit-sticky;/*Safari*/
  position: sticky;
top:0;/*Header高さ分で止まるようにする*/
/*装飾のためのCSS*/
background:#fff;

min-height: 100vh;
}

section.box:nth-of-type(2n){
/*装飾のためのCSS*/
min-height: auto;
}

/*========= レイアウトのためのCSS ===============*/

#header{
    position: fixed;/*Header固定*/
  top:0;
  
  z-index: 2;
  width:100%;
  /*装飾のためのCSS*/

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  position: relative;
  z-index: 1;/*header とfooterを手前にするため数字を小さく*/
}


.box{
    position: -webkit-sticky;/*Safari*/
    position: sticky;
  
}


@media screen and (max-width:768px){
    section.box,
    section.box:last-of-type{
    
    /* top:0;70px⇒0pxに戻す */
    min-height: auto;
    /* padding:30px; */
  }
  
    /* section.box:first-of-type{
    padding:100px 30px 30px 30px;最初の要素は上部にHeaderの高さ以上の余白をとる
    } */
    
    /* section.box:nth-of-type(2n){
    padding:100px 30px;
    } */
  }


#footer{
  background:#333;
  color:#fff;
  padding:40px;
  text-align:center;
  position: relative;
  z-index: 2;
}

#footer a{
  color: #fff;
}


/*========= ページネーションCSS ===============*/

.pagination {
    position:fixed;
    right:20px;
    top: 50%;
      transform: translateY(-50%);
    font-size:1em;
    z-index: 10;
    list-style: none;
  }
  
  .pagination a {
    font-family: sans-serif;
    display:block;
    height:20px;
    margin-bottom:5px;
    color:#000;
    position:relative;
    padding:4px;
  }
  
  .pagination a.active:after {
    box-shadow:inset 0 0 0 5px;
  }
  
  /*現在地表示のテキストの設定*/
  .pagination a .hover-text {
    position:absolute;
    right:15px;
    top:0;
    opacity:0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-right: 15px;
  }
  
  .pagination a:hover .hover-text {
    opacity: 1;
  }
  
  .pagination a:after {
    -webkit-transition:box-shadow 0.5s ease;
    transition:box-shadow 0.5s ease;
    width:10px;
    height:10px;
    display: block;
    border:1px solid;
    border-radius:50%;
    content:"";
    position: absolute;
    margin:auto;
    top:0;
    right:3px;
    bottom:0;
  }
  
  /*768px以下は現在地表示のテキストを非表示*/
  @media screen and (max-width:768px) { 
    .pagination a .hover-text{
      display: none;
    } 
  }

/* 背景が右から出現＋テキスト */

.bgRL span.mask{
  position:relative;/*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}

.bgRL span.mask::before{
  content:"";
  position: absolute;
  z-index: 2;
  left:0;
  top:0;
  opacity:0;
  transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: translateX(100%);
  background:rgba(99, 192,231, 0.7);/*背景色*/
  width:100%;
  height: 100%; 
}

.bgRL:hover span.mask::before{/*hoverした時の変化*/
  opacity:1;
  transform: translateX(0);
}

.bgRL span.cap{
  position: absolute;
  opacity:0;
  transition: .5s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
  z-index:3;/*テキストを前面に出す*/
  top: 50%;
    left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;/*テキストの色を変えたい場合はここを修正*/
    line-height: 1.5;/*行の高さを1.5にする*/
}

.bgRL:hover span.cap{/*hoverした時の変化*/
  opacity:1;
}

/* 横幅 */
.bgRL{
    width:70%;
    margin: 0 auto;/*中央揃え*/
}

/* 装飾 */
#box0{
  width: 100%;
  background-image:url(images/MV.jpg) ;
  background-position: center;
  background-size: 100%;
  
  background-repeat: no-repeat;
}

#box1{
  width: 100%;
  background-image: url("images/about_bg_1.jpg");
  background-size: 100%;
  display: flex;
  background-position: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 74%;
}

.name{
  width: 25%;
}

.hurigana{
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.5em;

}

.kanji{
  font-weight: bold;
  font-size: 2.25em;
  margin-bottom: 1em;
}

.school{
  margin-bottom: 0.5em;
}

.about_me{
  width: 25%;
}

.about_me img{
  width: 100%;
}

.about_p{
  width: 25%;
}

.about_p p{
  line-height: 2em;
}

#box2{
  width: 100%;
  background-position: center;
  background-image: url("images/policy_bg_1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.policy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 74%;
}

.policy_inner{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.midashi{
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #d70d84;
}

.komidashi{
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5em;
  color: #d70d84;
}

.policy_p{
  line-height: 2em;
}

.face{
  
  width: 25%;
}

.grow{
 
  width: 25%;
}

.logical{

  width: 25%;
}

#box3{
  width: 100%;
  background-image: url("images/works_bg_1.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* display: flex; */
  display: table;
}

#box4{
  width: 100%;
  background-image: url("images/contact_bg_1.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: table;
}

.contact{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 80%;
}

.contact_midashi{
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1.3em;
}

.contact_p{
  margin-bottom: 2.6em;
}

.contact_p a{
  color: #000;
  text-decoration: none;
}

.contact_p a:hover{
  color: #aaa;
}

h2{
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 0.7em;
}

h3{
  font-weight: bold;
  text-align: center;
}

.detail{
  margin: 1em 0;
}

.detail_img,.swiper-slide{
  text-align: center;
}

.detail_img img{
  width: 60%;
  margin: 1.3em 0 2em 0 ;
}

.detail_img iframe{
  width: 60%;
  height: 100%;
  margin: 1.3em 0 2em 0 ;
}

.detail_p{
  max-width: 500px;
  text-align: center;
  margin: 1em auto 0 auto;
}

.detail_p p{
  display: inline-block;
  text-align: left;
  line-height: 2rem;
}

.detail_p a{
  text-decoration: none;
  color: #000;
}

.detail_p a:hover{
  color: #666;
}

/* bxslider */
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  padding: 0;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}


.bxslider li img{
border: #000 solid 1px;
}
/** THEME
===================================*/

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;

  width: 100%;
}
/* LOADER */

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}

.feed-prev-btn{
  background-image: url(images/left.jpg);
}
.feed-next-btn{
  background-image: url(images/right.jpg);
}
.feed-prev-btn .bx-prev {
  opacity: 0;
  display: block;
}
.feed-next-btn .bx-next {
  opacity: 0;
  display: block;
}
.navi-btn {
  margin: 0px 8px 0 9px;
  /* width: 8rem; */
  height: 50px;
  -webkit-background-size: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  float: left;
}

.bxslider_flex_outer{
  display: table-cell;
  vertical-align: middle;
}

.bxslider_flex{
  /* width: 70%;
  height: 100px;
  display: flex;
  align-items: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 45rem;
  width: 70%;

}

.bxslider li p{
  margin-top: 0.5em;
}

/*========= モーダル表示のためのCSS ===============*/

/*全て共通：hideエリアをはじめは非表示*/
.hide-area{
  display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
  background:#ccc;  
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}


/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
text-align:center;
color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
transform: translate(-50%, -50%);
color: #fff;
width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
  height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #fb80c8;
  transition: all .2s cubic-bezier(0.42, 0.0, 1.0, 1.0);
  transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
  transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform: scaleY(0);
}



@media screen and (min-width: 768px) {
  html {
      font-size: 100%;
  }
}

@media screen and (max-width:768px) {

  #box1,#box2,#box3,.detail,h3,h2,.detail_p,#box4 {
    font-size: 87.5%;
}

  #box0{ width: 100%;
    background-image:url(images/MV_SP.jpg) ;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  #box1{ width: 100%;
    background-image:url(images/about_sp.jpg) ;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: table;
    
  }

  .about{
    display: table-cell;
    vertical-align: middle;
    width: 75%;
    text-align: center;
  }

  .name{
    width: 100%;
  }
  .kanji{
    margin-bottom: 1rem;
  }

  .about_me{
  margin: 2rem auto;
  }

  .about_p{
    text-align: left;
    margin: 0 auto;
    width: 50%;
  }


#box2{ width: 100%;
  background-image:url(images/policy_sp.jpg) ;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: table;
  
}

.policy{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.policy_inner{
  display: block;
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.opacity{
  opacity: 0;
}

.face,.grow,.logical{
  width: 70%;
  margin: 0 auto;
}

.face .midashi{margin-top: 3rem;}

.komidashi{
  margin-bottom: 1rem;
}

.logical .midashi{
  margin-top: -3rem;
}

.grow .midashi{
  margin-top: -2rem;
}

#box3{ width: 100%;
  background-image:url(images/works_sp.jpg) ;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: table;
  }

  
  #box4{ width: 100%;
    background-image:url(images/contact_sp.jpg) ;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: table;
    }

  }